.skills {
  background: licdnear-gradient(180deg, #050b12 0%, #020509 100%);
  /* semi-transparent black */
  backdrop-filter: blur(14px);
  padding: 4rem 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  color: #fff;
}
.skill-desc {
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin: 10px 0px;
}
/* Responsive */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skill-desc {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
  .skill-desc {
    text-align: center;
    font-size: 14px;
    max-width: 80%;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 23, 42, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 24px;
  color: white;
  backdrop-filter: blur(10px);
  transition:
    transform 0.3s ease,
    border 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 60px rgba(99, 102, 241, 0.25);
  border-color: rgba(139, 92, 246, 0.6);
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 16px;
}
@media (max-width: 575) {
  .skills {
    margin-top: 35px;
  }
}
